/* All pages */
/* Add all styles here that is shared with the rest of the pages */
@import url("./index.css");
@import url("./exhibition-spaces.css");
@import url("./gallery.css");
@import url("./contact.css");

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  margin: auto;
  width: 100%;
  height: auto;
  /* background: linear-gradient code, I got from website: https://cssgradient.io/ */
  background: linear-gradient(
    90deg,
    rgba(168, 216, 142, 1) 0%,
    rgba(106, 186, 220, 1) 100%
  );
}

.logo-div {
  margin: auto;
  height: auto;
  max-width: 626px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  margin: auto;
  width: 100%;
  height: auto;
}

/* for page: index.html, exhibition-spaces.html, get-involved.html, about-us.html, contact.html */
.page-title {
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

/* for page: index.html, exhibition-spaces.html, get-involved.html, about-us.html, contact.html */
section {
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* for page: index.html, exhibition-spaces.html, get-involved.html, about-us.html, contact.html */
.image-div {
  margin: auto;
  height: auto;
  margin-bottom: -5px;
  max-width: 1255px;
}

/* for page: index.html, exhibition-spaces.html, get-involved.html, about-us.html, contact.html */
.image {
  margin: auto;
  width: 100%;
  height: auto;
}

/* for page: index.html, exhibition-spaces.html, get-involved.html, about-us.html, contact.html */
.page-text-div {
  margin: auto;
  height: auto;
  max-width: 1245px;
  background-color: rgba(50, 46, 46, 1);
  padding-left: 10px;
  font-size: 1.1rem;
  color: white;
  margin-bottom: 50px;
}

.h3-text-div {
  text-align: center;
  padding-bottom: 20px;
}

.sub-title {
  text-decoration: underline;
}

/* making space (& line divider) with <p> in about-us.html */
.space {
  margin-bottom: 50px;
  height: 1px;
  background: white;
  margin-right: 20px;
}

/* mobile screen & navigation */
@media (max-width: 820px) {
  nav,
  #menu-checkbox {
    display: none;
  }

  #menu-checkbox:checked ~ nav {
    display: block;
  }

  nav {
    position: absolute;
    background: rgba(50, 46, 46, 1);
    left: 0px;
    margin: auto;
  }

  nav a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
  }

  .current {
    font-weight: bold;
    text-decoration: underline;
  }

  .mobile-nav-icon {
    display: none;
  }
}

/* Desktop screen & navigation*/
@media (min-width: 821px) {
  #menu-checkbox {
    display: none;
  }

  .hamburger-icon {
    display: none;
  }

  nav {
    padding: 7px;
    background: rgba(50, 46, 46, 1);
  }

  nav a {
    color: rgb(255, 255, 255);
    padding-left: 15px;
    font-size: 1rem;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .current {
    font-weight: bold;
    text-decoration: underline;
  }
}

.page-main {
  flex-grow: 1;
  /* background: linear-gradient code, I got from website: https://cssgradient.io/ */
  background: linear-gradient(
    270deg,
    rgba(168, 216, 142, 1) 0%,
    rgba(106, 186, 220, 1) 100%
  );
}

/* contact.html */
.section-title {
  display: flex;
  justify-content: center;
}

/* contact.html */
.divider-line {
  margin: auto;
  height: 1px;
  max-width: 1255px;
  background: black;
  margin-bottom: 50px;
}

/* form */
.form-div {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

/* form */
form {
  margin: auto;
  padding-left: 1px;
  padding-right: 9px;
  /* margin-left: 2px; not good on mobile device*/
  /* margin-right: 10px; not good on mobile device*/
}

/* form */
.form-name,
.form-email {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  margin-bottom: 20px;
}

/* form */
.form-message {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  padding-bottom: 100px;
}

.submit-button {
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
  margin-top: 20px;
  padding: 5px;
}

.submit-text {
  text-align: start;
}

footer {
  margin: auto;
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.5rem;
  background-color: rgba(50, 46, 46, 1);
  color: white;
}
